body{
  font-family: 'Montserrat', sans-serif;
}
#title a{
  font-family: 'Ubuntu', sans-serif;
}
#title {
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 10%;  
}
h1{
  color: white ;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: thin;
}

/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.img-container{
  text-align: center;
}
.title-img{
  width: 55%;
  transform: rotatez(25deg);
}

/* Features */
#features{
 padding: 5% 15%;
}
.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
  cursor: pointer;
}
.feature-box{
  padding: 5%;
  text-align: center;
}
#features h3{
  font-weight: 600;
}
/* Testimonial Section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#testimonials h2{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 40px 20px 20px;
}